<!doctype html>
<html>
  <head>
    <title>Perception</title>
    <link rel="stylesheet" type="text/css" href="{{addr}}css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{addr}}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{addr}}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{addr}}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{addr}}manifest.json">
    <link rel="mask-icon" href="{{addr}}safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Perception">
    <meta name="application-name" content="Perception">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-tap-highlight" content="no" />
  </head>
  <body>

    {{{body}}}
    <script>
      var config = {
        timeoutTime: '{{timeoutTime}}',
        playTime: '{{playTime}}'
      }
    </script>
    <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>  
    <script src="{{addr}}javascript/client.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-90334353-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>