<div class="blocks">
  <div id="one" class="block one {{oneClasses}}"></div>
  <div id="two" class="block two {{twoClasses}}"></div>
  <div id="three" class="block three {{threeClasses}}"></div>
  <div id="four" class="block four {{fourClasses}}"></div>
  <div id="five" class="block five {{fiveClasses}}"></div>
  <div id="six" class="block six {{sixClasses}}"></div>
</div>
